# **Avance 7**

## *WACC*

Este notebook procurará abarcar todos los temas para poder calcular el WACC aproximado de una acción

El WACC tiene la siguiente formula = Kd*(1-T)*d% + Ke*e%, donde:
* Kd = costo de la deuda (costo de proveedores, creditos de corto y largo plazo)
* (1-T) = intereses, la deuda pone a pagar menos intereses (escudo fiscal, T = 33% para Colombia)
* d% = proporción de la deuda sobre activo
* Ke = costo del patrimonio (acciones preferentes, utilidades retenidas y emision de acciones) o capital propio
* e% = proporcion del patrimonio sobre el activo

Vamos a ver como calcular cada una de estas componentes, pero hay que tener en cuenta los siguientes valores para poder calcular lo requerido en Kd y Ke:
* Km = tasa del mercado
* Kf = tasa libre de riesgo

## Km

Informacion del sector/indice de la accion (KM)

In [1]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [5]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (0.2.12)
Requirement already satisfied: pandas>=1.3.0 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: requests>=2.26 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.28.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.3.5)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (39.0.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in c:\users\usuario\appdata\roaming\python\python311\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\usuario\appdata\roaming\python\python311\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26->yfinance) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
indice_sector = yf.Ticker("^DJT") #el ^ indica cualquier indice en yahoo-finance

inicio = datetime(2021, 1, 1)
fin = datetime(2022, 10, 31)

df = indice_sector.history(start = inicio, end = fin)
df #nos interesa la columna 'close

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-04 00:00:00-05:00,12513.820312,12537.419922,12151.410156,12230.030273,142910000,0.0,0.0
2021-01-05 00:00:00-05:00,12215.589844,12431.730469,12202.080078,12359.230469,111370000,0.0,0.0
2021-01-06 00:00:00-05:00,12401.799805,12782.059570,12381.259766,12706.320312,133340000,0.0,0.0
2021-01-07 00:00:00-05:00,12739.059570,12867.639648,12716.080078,12811.389648,105940000,0.0,0.0
2021-01-08 00:00:00-05:00,12858.669922,12995.290039,12825.290039,12875.660156,111590000,0.0,0.0
...,...,...,...,...,...,...,...
2022-10-24 00:00:00-04:00,12728.120117,13099.629883,12728.120117,13066.160156,119470000,0.0,0.0
2022-10-25 00:00:00-04:00,13055.280273,13310.330078,13055.280273,13246.660156,116470000,0.0,0.0
2022-10-26 00:00:00-04:00,13300.790039,13611.179688,13169.940430,13427.030273,117510000,0.0,0.0
2022-10-27 00:00:00-04:00,13466.440430,13616.790039,13337.009766,13369.089844,97870000,0.0,0.0
2022-10-28 00:00:00-04:00,13406.599609,13584.980469,13256.500000,13574.980469,91640000,0.0,0.0

In [3]:
df_km = pd.DataFrame()
df_km['Valor'] = df['Close']
df_km['Porcentaje'] = 0
df_km

                                  Valor  Porcentaje
Date
2021-01-04 00:00:00-05:00  12230.030273           0
2021-01-05 00:00:00-05:00  12359.230469           0
2021-01-06 00:00:00-05:00  12706.320312           0
2021-01-07 00:00:00-05:00  12811.389648           0
2021-01-08 00:00:00-05:00  12875.660156           0
...                                 ...         ...
2022-10-24 00:00:00-04:00  13066.160156           0
2022-10-25 00:00:00-04:00  13246.660156           0
2022-10-26 00:00:00-04:00  13427.030273           0
2022-10-27 00:00:00-04:00  13369.089844           0
2022-10-28 00:00:00-04:00  13574.980469           0

[460 rows x 2 columns]

In [4]:
df_km['Valor'][459]

13574.98046875

In [5]:
import math

contador = 1
p_diario = 0
p_anual = 0

for x,y in df_km.iterrows():
    if contador == 460:
        p_diario = p_diario/contador
        print("Promedio diario:", p_diario*100)
        p_anual = p_diario*252 #este es el km a utilizar
        print("Promedio anual:",p_anual*100)
        contador=999999
    else:
        operacion = math.log(df_km['Valor'][contador]/df_km['Valor'][contador-1])
        df_km['Porcentaje'][contador] = operacion
        contador = contador + 1
        p_diario = p_diario + operacion

Promedio diario: 0.02268130478574696
Promedio anual: 5.7156888060082345

C:\Users\Usuario\AppData\Local\Temp\ipykernel_4776\3057741854.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_km['Porcentaje'][contador] = operacion

In [6]:
df_km

                                  Valor  Porcentaje
Date
2021-01-04 00:00:00-05:00  12230.030273    0.000000
2021-01-05 00:00:00-05:00  12359.230469    0.010509
2021-01-06 00:00:00-05:00  12706.320312    0.027696
2021-01-07 00:00:00-05:00  12811.389648    0.008235
2021-01-08 00:00:00-05:00  12875.660156    0.005004
...                                 ...         ...
2022-10-24 00:00:00-04:00  13066.160156    0.028995
2022-10-25 00:00:00-04:00  13246.660156    0.013720
2022-10-26 00:00:00-04:00  13427.030273    0.013524
2022-10-27 00:00:00-04:00  13369.089844   -0.004325
2022-10-28 00:00:00-04:00  13574.980469    0.015283

[460 rows x 2 columns]

## Kf

Esta tasa libre de riesgo depende de la situación de cada empresa.

Para el caso de FedEx (ejemplo trabajado en todos los notebooks), al ser una empresa muy grande no va a tener riesgo proximo de quebrarse, por lo cual puede pedir prestamos por 10 años (TES=10). Valor, según el grupo AVAL, de un TES de 10 años es del 11% (esto puede cambiar)

In [7]:
kf = 0.11

## Kd

In [112]:
pip install selenium

Requirement already satisfied: selenium in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (4.9.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: attrs>=19.2.0 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (23.1.0)
Requirement already satisfied: sortedcontainers in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
import time
import pandas as pd
import requests

In [9]:
index = 'FDX'
url_bs = 'https://finance.yahoo.com/quote/' + index + '/balance-sheet?p=' + index
read_data = requests.get(url_bs,headers={'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'})

In [10]:
import re

def is_only_numbers(input_string):
    trimmed_string = input_string.strip()  # Trim leading and trailing whitespace
    pattern = r'^-?\d+$'
    match = re.match(pattern, trimmed_string)
    return match is not None

In [11]:
driver = webdriver.Edge()
driver.get(url_bs)
time.sleep(5)

# get element 
expand = driver.find_element(By.XPATH, '//button[@class="expandPf Fz(s) Bd(0) C($linkColor) C($linkActiveColor):h Fw(500) D(n)--print Fl(end) Mt(5px)"]')
# create action chain object
action = ActionChains(driver)
# click the item
action.click(on_element = expand)
# perform the operation
action.perform()

Data = driver.find_elements(By.XPATH, '//div[contains(@class, "Ta(c)")]')
Dates = driver.find_elements(By.XPATH,'//div[contains(@class, "Ta(c) Py(6px) Bxz(bb) BdB Bdc($seperatorColor) Miw(120px) Miw(100px)--pnclg D(ib) Fw(b)") or contains(@class, "Ta(c) Py(6px) Bxz(bb) BdB Bdc($seperatorColor) Miw(120px) Miw(100px)--pnclg D(ib) Fw(b) Bgc($lv1BgColor)")]' )
Column_Headers = driver.find_elements(By.XPATH,'//div[contains(@class, "D(ib) Va(m)")]' )

ColumnHeadersList =[]
DatesList = []
BalanceSheetList = []
BalanceSheetList_aux = []

for value in  Column_Headers:
    ColumnHeadersList.append(value.text)
del ColumnHeadersList[0]

for value in Data:
    BalanceSheetList_aux.append(value.text)

for elemnt in BalanceSheetList_aux:
    if is_only_numbers(elemnt.replace(",","")) == True:
        BalanceSheetList.append(elemnt)

for value in Dates:
    DatesList.append(value.text) 

ListOfLists= list()
chunk_size = len(DatesList)

for i in range(0, len(BalanceSheetList), chunk_size):
    ListOfLists.append(BalanceSheetList[i:i+chunk_size])

BalanceSheetYearly= pd.DataFrame()
BalanceSheetSummary = pd.DataFrame()

for z in range(0, len(ColumnHeadersList), 1):
    BalanceSheetYearly[z] = ListOfLists[z]

BalanceSheetYearly.columns = ColumnHeadersList

BalanceSheetYearly.insert(0, "Dates", DatesList)

BalanceSheetSummary = pd.concat([BalanceSheetSummary,BalanceSheetYearly], axis=0, ignore_index=True, sort=False)

# Cerrar el navegador
driver.quit()

In [12]:
BalanceSheetSummary = BalanceSheetSummary.transpose()
BalanceSheetSummary

,0,1,2
Dates,5/31/2022,5/31/2021,5/31/2020
Total Assets,"85,994,000","82,777,000","73,537,000"
Current Assets,"20,365,000","20,580,000","16,383,000"
"Cash, Cash Equivalents & Short Term Investments","6,897,000","7,087,000","4,881,000"
Cash And Cash Equivalents,"6,897,000","7,087,000","4,881,000"
...,...,...,...
Total Debt,"37,194,000","36,462,000","36,121,000"
Net Debt,"13,367,000","13,792,000","17,122,000"
Share Issued,"318,000","318,000","318,000"
Ordinary Shares Number,"259,846","267,348","261,954"
Treasury Shares Number,"58,154","50,652","56,046"

In [13]:
BalanceSheetSummary.columns = BalanceSheetSummary.iloc[0] #Nombramos las columnas con la primera fila del dataframe
BalanceSheetSummary.drop(BalanceSheetSummary.index[0],inplace=True) #eliminamos la primera fila
BalanceSheetSummary

Dates,5/31/2022,5/31/2021,5/31/2020
Total Assets,"85,994,000","82,777,000","73,537,000"
Current Assets,"20,365,000","20,580,000","16,383,000"
"Cash, Cash Equivalents & Short Term Investments","6,897,000","7,087,000","4,881,000"
Cash And Cash Equivalents,"6,897,000","7,087,000","4,881,000"
Receivables,"11,863,000","11,977,000","10,102,000"
...,...,...,...
Total Debt,"37,194,000","36,462,000","36,121,000"
Net Debt,"13,367,000","13,792,000","17,122,000"
Share Issued,"318,000","318,000","318,000"
Ordinary Shares Number,"259,846","267,348","261,954"
Treasury Shares Number,"58,154","50,652","56,046"

Para cada uno de los componentes necesarios para armar el WACC, se requiere una tasa, la cual es una proporción del componente frente a la deuda. Esta tasa que se requiere no tiene una forma tan fácil de sacar de internet, es más fácil encontrarla en los estados financieros de la empresa evaluada. 

Para poder encontrarla se deben tomar todos los valores de las tasas de deudas a largo plazo junto con su valor monetario especifico, sumar todos los valores monetarios y sacar una 'proporción' al dividir cada monto especifico entre el total, obteniendo un valor que despues será multiplicado por la tasa en tablas del informe. Este proceso culminaria al sumar cada uno de estos últimos valores encontrados, y ese valor seria la tasa promedio para las deudas a largo plazo de la accion.

Por ejemplo, para la accion FedEx para la deuda a largo plazo hay una sección donde especifican cada tasa utilizada para cada deuda, esta información se puede ver en el 'Annual Report' de la empresa de 2021 en 'NOTE 7: LONG-TERM DEBT AND OTHER FINANCING ARRANGEMENTS'.

En caso de no encontrar una tasa para alguno de los componentes, se puede buscar en internet la tasa promedio de la deuda brindada por alguna fuente financiera confiable (como el Banco de la Republica de Colombia para el caso del país Colombiano).

Para la tasa del componente de los proveedores se deben conocer obligatoriamente el detalle de las politicas de descuentos, en caso de no encontrarla, no se tiene en cuenta para realizar el analisis del WACC.

In [73]:
deuda_largo_plazo = int(BalanceSheetSummary['5/31/2022']['Current Debt And Capital Lease Obligation'].replace(",", ""))*1000
deuda_corto_plazo = int(BalanceSheetSummary['5/31/2022']['Long Term Debt And Capital Lease Obligation'].replace(",", ""))*1000
proveedores = int(BalanceSheetSummary['5/31/2022']['Payables And Accrued Expenses'].replace(",", ""))*1000
print('Deuda a largo plazo: ', deuda_largo_plazo)
print('Deuda a corto plazo: ', deuda_corto_plazo)
print('Proveedores: ', proveedores)

Deuda a largo plazo:  2525000000
Deuda a corto plazo:  34669000000
Proveedores:  11749000000

In [17]:
tasa_deuda_largo_plazo = 0.0344 #promedio con las tasas encontradas en el 'Annual Report'
tasa_deuda_corto_plazo = 0.026 #tasa promedio de deuda sacada del Banco de la Republica de Colombia
#no se encontro a detalle la politica de descuentos de FedEx --> no tasa para proveedores

## Ke

### Utilidades Retenidas

Para calcular la tasa de las utilidades retenidas se requieren los siguientes componentes
* Beta Desapalancado: como seria mi negocio si no se tuviera deuda; su calculo es complicado, por lo cual una forma sencilla de calcularlo es utilizar el archivo de betas de DamoDdran, donde se selecciona una empresa semejando a la que se esta evaluando en caso de no encontrarla entre las opciones del archivo.
* Beta Apalancado: rol de la empresa en el mercado, tiene la siguiente formula: beta_desapalancado * (1 + (1 - T) * (D / P)) donde T es la tasa de impuestos (33%), D es la deuda y P el patrimonio

In [72]:
utilidades_retenidas = int(BalanceSheetSummary['5/31/2022']['Retained Earnings'].replace(",", ""))*1000
beta_desapalancada = 0.68
patrimonio = BalanceSheetSummary['5/31/2022']['Total Equity Gross Minority Interest']
deuda = BalanceSheetSummary['5/31/2022']['Total Liabilities Net Minority Interest']
tasa_impuestos = 0.33

In [31]:
patrimonio

'24,939,000'

In [32]:
beta_apalancada = beta_desapalancada * (1 + (1-tasa_impuestos)*((int(deuda.replace(",", ""))*1000)/(int(patrimonio.replace(",", ""))*1000)))
beta_apalancada

1.7953878663940015

In [24]:
tasa_utilidades_retenidas =  kf + beta_apalancada * (p_anual - kf)
tasa_utilidades_retenidas

0.015126118000571856

### Acciones en circulación

esto aplica para acciones ordinarias y preferentes:

In [50]:
acciones_ordinarias = BalanceSheetSummary['5/31/2022']['Ordinary Shares Number']
acciones_preferentes = BalanceSheetSummary['5/31/2022']['Treasury Shares Number']

In [34]:
#necesitamos el precio de la accion cuanto empezaron las dividendos (del primero año completo) --> para FedEx seria 2003
#sacamos los dividendos
from yahoo_fin import stock_info as si
index = 'FDX'
aux_div = si.get_dividends(index)
aux_div = aux_div.drop(['ticker'], axis = 1)
aux_div

            dividend
2002-06-13      0.05
2002-09-05      0.05
2002-12-10      0.05
2003-03-06      0.05
2003-06-10      0.05
...              ...
2022-03-04      0.75
2022-06-24      1.15
2022-09-01      1.15
2022-12-09      1.15
2023-03-10      1.15

[84 rows x 1 columns]

In [36]:
#sacamos la histora de la accion de FedEx para el 2003-03-06 (A/M/D)
import yfinance as yf
from datetime import datetime

indice_accion = yf.Ticker("FDX")
inicio = datetime(2003, 3, 6)
fin = datetime(2003, 3, 7)
hist = indice_accion.history(start = inicio, end = fin)
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2003-03-06 00:00:00-05:00,43.816245,43.910034,43.270567,43.5093,1506600,0.05,0.0

In [38]:
precio_accion = hist['Close']['2003-03-06 00:00:00-05:00']
precio_accion

43.509300231933594

In [105]:
monto_acciones_ordinarias = (int(acciones_ordinarias.replace(",", ""))*1000) * float(precio_accion)
monto_acciones_preferentes = (int(acciones_preferentes.replace(",", ""))*1000) * float(precio_accion)

In [53]:
#se debe realizar una evaluación de los dividendos (valor por descuento de dividendos), utilizando el ultimo valor de dividendos con el año completo
aux_div = aux_div.resample('A').sum()
aux_div['%'] = 0
aux_div = aux_div.drop('2023-12-31', axis=0) #eliminamos el año 2023 porque no se ha terminado
aux_div = aux_div.drop('2002-12-31', axis=0) #eliminamos el 2002 porque no entrego 4 dividendos --> año incompleto

for x in range(1,len(aux_div)):
    anterior = aux_div['dividend'][x-1]
    actual = aux_div['dividend'][x]
    valor = (actual - anterior) / anterior
    aux_div['%'][x] = valor

aux_div

C:\Users\Usuario\AppData\Local\Temp\ipykernel_4776\2801904659.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux_div['%'][x] = valor

            dividend         %
2003-12-31      0.21  0.000000
2004-12-31      0.27  0.285714
2005-12-31      0.31  0.148148
2006-12-31      0.35  0.129032
2007-12-31      0.39  0.114286
2008-12-31      0.43  0.102564
2009-12-31      0.44  0.023256
2010-12-31      0.47  0.068182
2011-12-31      0.51  0.085106
2012-12-31      0.55  0.078431
2013-12-31      0.59  0.072727
2014-12-31      0.75  0.271186
2015-12-31      0.95  0.266667
2016-12-31      1.45  0.526316
2017-12-31      1.90  0.310345
2018-12-31      2.45  0.289474
2019-12-31      2.60  0.061224
2020-12-31      2.60  0.000000
2021-12-31      2.90  0.115385
2022-12-31      4.20  0.448276

In [54]:
suma = 0
for x in range(1,len(aux_div)):
    suma = suma + aux_div['%'][x]
promedio = suma / x
print(promedio)

0.1787536602648231

In [61]:
#necesitamos el valor de la accion del dia de hoy para terminar en analisis
#hoy = misma fecha reciente en que sacamos la tasa del mercado km
indice_accion = yf.Ticker("FDX")
inicio = datetime(2022, 10, 28)
fin = datetime(2022, 10, 31)
hist = indice_accion.history(start = inicio, end = fin)
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-10-28 00:00:00-04:00,155.620225,158.573795,153.871805,158.415741,2568600,0.0,0.0

In [59]:
precio_reciente_accion = hist['Close']['2022-10-28 00:00:00-04:00']
precio_reciente_accion

158.41574096679688

In [106]:
#calculamos la tasa
dividendo = aux_div['dividend']['2022-12-31']
g = promedio
d1 = float(dividendo) * (1 + g)
tasa_acciones = (d1 / (float(precio_reciente_accion)*(1 - kf))) + g
tasa_acciones

0.21386795944146833

## Tabla de resultados

In [119]:
tipo = ['kd', 'kd', 'ke', 'ke', 'ke']
rubro = ['Deuda Largo Plazo', 'Deuda Corto Plazo', 'Utilidades Retenidas', 'Acciones Ordinarias', 'Acciones Preferentes']
monto = [int(deuda_largo_plazo), int(deuda_corto_plazo), int(utilidades_retenidas), int(monto_acciones_ordinarias), int(monto_acciones_preferentes)]
tasa = [tasa_deuda_largo_plazo, tasa_deuda_corto_plazo, tasa_utilidades_retenidas, tasa_acciones, tasa_acciones]

In [122]:
resultados = pd.DataFrame()
resultados['Rubro'] = rubro
resultados = resultados.set_index('Rubro')
resultados['Tipo'] = tipo
resultados['Monto'] = monto
resultados['Participación'] = 0
resultados['Tasa'] = tasa
resultados['Tasa Descontada Impuestos'] = 0
resultados['Ponderación'] = 0
resultados

,Tipo,Monto,Participación,Tasa,Tasa Descontada Impuestos,Ponderación
Rubro,,,,,,
Deuda Largo Plazo,kd,2525000000,0,0.034400,0,0
Deuda Corto Plazo,kd,34669000000,0,0.026000,0,0
Utilidades Retenidas,ke,32782000000,0,0.015126,0,0
Acciones Ordinarias,ke,11305717628,0,0.213868,0,0
Acciones Preferentes,ke,2530239845,0,0.213868,0,0

In [121]:
suma = 0
for x, y in resultados.iterrows():
    suma = suma + int(resultados['Monto'][x])
suma

83811957473

In [123]:
for x, y in resultados.iterrows():
    resultados['Participación'][x] = resultados['Monto'][x] / suma
    if resultados['Tipo'][x] == 'kd':
        resultados['Tasa Descontada Impuestos'][x] = resultados['Tasa'][x] * (1 - tasa_impuestos)
    else: 
        resultados['Tasa Descontada Impuestos'][x] = resultados['Tasa'][x]
    resultados['Ponderación'][x] = resultados['Participación'][x] * resultados['Tasa Descontada Impuestos'][x]
resultados

C:\Users\Usuario\AppData\Local\Temp\ipykernel_4776\3034121306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultados['Participación'][x] = resultados['Monto'][x] / suma
C:\Users\Usuario\AppData\Local\Temp\ipykernel_4776\3034121306.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultados['Tasa Descontada Impuestos'][x] = resultados['Tasa'][x] * (1 - tasa_impuestos)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_4776\3034121306.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultados['Ponderación'][x] = resultados['Participación'][x] * resultados['Tasa Descontada Impuestos'][x]

,Tipo,Monto,Participación,Tasa,Tasa Descontada Impuestos,Ponderación
Rubro,,,,,,
Deuda Largo Plazo,kd,2525000000,0.030127,0.034400,0.023048,0.000694
Deuda Corto Plazo,kd,34669000000,0.413652,0.026000,0.017420,0.007206
Utilidades Retenidas,ke,32782000000,0.391138,0.015126,0.015126,0.005916
Acciones Ordinarias,ke,11305717628,0.134894,0.213868,0.213868,0.028849
Acciones Preferentes,ke,2530239845,0.030189,0.213868,0.213868,0.006457

In [124]:
wacc = 0
for x, y in resultados.iterrows():
    wacc = resultados['Ponderación'][x] + wacc
wacc #aproximado, pues se carecen de detalles

0.0491226156278536