# **Avance 1**

### *Extracción de datos de una acción y gráfica de su histórico*

### **1. Extracción de datos de la acción**

------Opcion 1: realizar la extracción de datos con la libreria **yfinance**

In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (0.1.74)
Requirement already satisfied: numpy>=1.15 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.22.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (4.7.1)
Requirement already satisfied: requests>=2.26 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (2.0.10)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (1.26.8)
Requirement already satisfied: six>=1.5 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)

WARNING: You are using pip version 20.2.3; however, version 22.3 is available.
You should consider upgrading via the 'c:\users\usuario\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import yfinance as yf

In [3]:
indice_accion = yf.Ticker("MSFT")

In [4]:
#conseguir el histórico de los datos de la acción
from datetime import datetime

inicio = datetime(2021, 1, 1)
fin = datetime(2022, 10, 31)
hist = indice_accion.history(start = inicio, end = fin)

In [5]:
#eliminamos las columnas de dividends y stock splits ya que no se requieren en estos momentos
del hist['Dividends']
del hist['Stock Splits']

'''
esta casilla de codigo solo se debe correr 1 vez, ya que si se vuelve a ejecutar saldra un error, 
y esto es porque las columnas ya no van a existir. Para volverlo a correr hay que ejecutar todo el codigo de nuevo, 
o por lo menos la parte donde se crea el dataframde de el historial de la acción
'''

'\nesta casilla de codigo solo se debe correr 1 vez, ya que si se vuelve a ejecutar saldra un error, \ny esto es porque las columnas ya no van a existir. Para volverlo a correr hay que ejecutar todo el codigo de nuevo, \no por lo menos la parte donde se crea el dataframde de el historial de la acción\n'

In [6]:
hist
#la columna 'close' es el precio final de la accion ese dia

                  Open        High         Low       Close    Volume
Date
2021-01-04  219.247702  219.710771  211.641570  214.479095  37130100
2021-01-05  214.055445  215.296870  212.518457  214.686005  23823000
2021-01-06  209.040502  213.296789  208.813899  209.119324  35930700
2021-01-07  210.882938  216.104767  210.557819  215.070251  27694500
2021-01-08  215.454493  217.326477  213.828836  216.380630  22956200
...                ...         ...         ...         ...       ...
2022-10-24  243.759995  247.839996  241.300003  247.250000  24911200
2022-10-25  247.259995  251.039993  245.830002  250.660004  34775500
2022-10-26  231.169998  238.300003  230.059998  231.320007  82543200
2022-10-27  231.039993  233.690002  225.779999  226.750000  40424600
2022-10-28  226.240005  236.600006  226.050003  235.869995  40614800

[460 rows x 5 columns]

------Opcion 2: realizar la extracción de datos con la libreria **pandas_datareader**

In [7]:
pip install --upgrade pandas-datareader

Requirement already up-to-date: pandas-datareader in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (0.10.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied, skipping upgrade: lxml in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from pandas-datareader) (4.7.1)
Requirement already satisfied, skipping upgrade: requests>=2.19.0 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied, skipping upgrade: pandas>=0.23 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied, skipping upgrade: urllib3<1.27,>=1.21.1 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.8)
Requirement already satisfied, skipping upgrade: idna<4,>=2.5; python_version >= "3" in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.3)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied, skipping upgrade: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.10)
Requirement already satisfied, skipping upgrade: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.22.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\usuario\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.16.0)

WARNING: You are using pip version 20.2.3; however, version 22.3 is available.
You should consider upgrading via the 'c:\Users\Usuario\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [8]:
from pandas_datareader import data as  pdr
from datetime import datetime

In [9]:
start = datetime(2021, 1, 1)
end = datetime(2022, 10, 31)

In [10]:
index = 'FDX'
df = pdr.get_data_yahoo(index, start = start, end = end)

In [11]:
df
#la columna 'adj close' es el precio final de la accion ese dia

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-01-04,260.500000,250.899994,260.399994,253.190002,3797100.0,246.968750
2021-01-05,254.770004,250.050003,251.500000,253.179993,3271100.0,246.958984
2021-01-06,258.980011,250.380005,250.460007,253.559998,3605300.0,247.329651
2021-01-07,256.209991,245.449997,254.089996,246.029999,5657300.0,239.984665
2021-01-08,247.360001,242.419998,246.520004,244.960007,4583900.0,238.940979
...,...,...,...,...,...,...
2022-10-25,157.330002,154.850006,155.889999,155.800003,3077700.0,155.800003
2022-10-26,159.169998,155.580002,156.380005,157.960007,3733800.0,157.960007
2022-10-27,160.300003,156.630005,158.940002,156.910004,1646700.0,156.910004
2022-10-28,160.529999,155.770004,157.539993,160.369995,2567700.0,160.369995
2022-10-31,162.220001,158.619995,159.020004,161.160004,758204.0,161.160004