# KM

Extraer la informacion del sector/indice de la accion (KM)

In [ ]:
!pip install pandas-datareader

In [6]:
import pandas as pd
import pandas_datareader.data as  pdr
from datetime import datetime

In [7]:
start = datetime(2021, 1, 1)
end = datetime(2022, 9, 1)

In [23]:
km = '^DJT'
df = pdr.get_data_yahoo(km, start = start, end = end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-01-04,12537.419922,12151.410156,12513.820312,12230.030273,1429100,12230.030273
2021-01-05,12431.730469,12202.080078,12215.589844,12359.230469,1113700,12359.230469
2021-01-06,12782.059570,12381.259766,12401.799805,12706.320312,1333400,12706.320312
2021-01-07,12867.639648,12716.080078,12739.059570,12811.389648,1059400,12811.389648
2021-01-08,12995.290039,12825.290039,12858.669922,12875.660156,1115900,12875.660156
...,...,...,...,...,...,...
2022-08-26,14974.610352,14379.309570,14940.500000,14380.230469,743200,14380.230469
2022-08-29,14376.530273,14202.059570,14325.450195,14232.719727,712900,14232.719727
2022-08-30,14278.269531,13951.599609,14252.110352,14005.839844,845400,14005.839844
2022-08-31,14094.129883,13857.799805,14033.339844,13860.650391,923900,13860.650391
2022-09-01,13918.009766,13669.349609,13816.839844,13913.089844,915100,13913.089844

# Dividendos 

Extraer los dividendos de la accion

Forma 1

In [ ]:
!pip install yahoo-fin

In [17]:
from yahoo_fin import stock_info as si
index = 'FDX'
aux_div = si.get_dividends(index)
aux_div

            dividend ticker
2002-06-13      0.05    FDX
2002-09-05      0.05    FDX
2002-12-10      0.05    FDX
2003-03-06      0.05    FDX
2003-06-10      0.05    FDX
...              ...    ...
2021-09-02      0.75    FDX
2021-12-10      0.75    FDX
2022-03-04      0.75    FDX
2022-06-24      1.15    FDX
2022-09-01      1.15    FDX

[82 rows x 2 columns]

Forma 2

In [ ]:
!pip install yfinance

In [21]:
import yfinance as yf
index = yf.Ticker("FDX")
index.dividends

Date
2002-06-13    0.05
2002-09-05    0.05
2002-12-10    0.05
2003-03-06    0.05
2003-06-10    0.05
              ...
2021-09-02    0.75
2021-12-10    0.75
2022-03-04    0.75
2022-06-24    1.15
2022-09-01    1.15
Name: Dividends, Length: 82, dtype: float64