# **Avance 6**

## *Análisis fundamental*

Este analisis incluye los siguientes componentes:
* Análisis Top-Down (análisis macroeconomico)
* Análisis Bottom-Up (cálculo de indicadores como PER, Capitalización bursátil, Q de Tobin, Valor Intrínseco, Yield anual, ROA, ROE)
* Benchmark
* Calculo múltiplos 
* Valor por descuento de dividendos

### **Análisis Top-Down**

Se realiza un análisis de los factores que pueden afectar el valor de la compañia, estos se pueden encontrar en noticias o estados financieros y pueden ser a nivel global, del sector o industria o cía.

### **Análisis bottom-up**

En este análisis se utilizan indicadores fundamentales y valoración de acciones para comprender el estado de la acción

In [1]:
import pandas as pd
from pandas_datareader import data as  pdr
from bs4 import BeautifulSoup
import urllib.request as ur
import yfinance as yf

In [13]:
# Enter a stock symbol
index= 'FDX'
# URL link 
url_is = 'https://finance.yahoo.com/quote/' + index + '/financials?p=' + index
url_bs = 'https://finance.yahoo.com/quote/' + index + '/balance-sheet?p=' + index
url_cf = 'https://finance.yahoo.com/quote/' + index + '/cash-flow?p=' + index
url_summary = 'https://finance.yahoo.com/quote/' + index + '?p=' + index

In [3]:
def findAndReplace(lista, itemAReemplazar, nuevoValor): 
    for index, item in enumerate(lista):
        if item == itemAReemplazar:
            lista[index] = nuevoValor

#### Income statement

In [4]:
import requests
read_data = requests.get(url_is,headers={'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'})

In [5]:
soup_is= BeautifulSoup(read_data.content,"lxml")

divTag = soup_is.find_all("div", {"class": {"D(tbc)", "Ta(c)"}})

ls= []
ls.append("Breakdown")

for tag in divTag:
  tag_value =  tag.get('value')
  ls.append(tag.text)

for i in ls:
  if i == '-': findAndReplace(ls, '-', '0')

contador = 0
for i in ls:
  if i=='ttm':
    del ls[1:contador]
  else: contador += 1

new_ls = list(filter(None,ls))
is_data = list(zip(*[iter(new_ls)]*6))

In [6]:
Income_st = pd.DataFrame(is_data[0:])
Income_st

,0,1,2,3,4,5
0,Breakdown,ttm,5/31/2022,5/31/2021,5/31/2020,5/31/2019
1,Total Revenue,"94,091,000","93,512,000","83,959,000","69,217,000","69,693,000"
2,Cost of Revenue,"74,104,000","73,345,000","66,005,000","55,873,000","54,866,000"
3,Gross Profit,"19,987,000","20,167,000","17,954,000","13,344,000","14,827,000"
4,Operating Expense,"14,129,000","13,644,000","11,981,000","10,492,000","10,041,000"
5,Operating Income,"5,858,000","6,523,000","5,973,000","2,852,000","4,786,000"
6,Net Non Operating Interest Income Expense,"-590,000","-636,000","-741,000","-617,000","-529,000"
7,Other Income Expense,"-996,000","-991,000","1,442,000","-566,000","-3,602,000"
8,Pretax Income,"4,272,000","4,896,000","6,674,000","1,669,000","655,000"
9,Tax Provision,"939,000","1,070,000","1,443,000","383,000","115,000"
10,Net Income Common Stockholders,"3,326,000","3,819,000","5,220,000","1,284,000","539,000"
11,Diluted NI Available to Com Stockholders,"3,326,000","3,819,000","5,220,000","1,284,000","539,000"
12,Basic EPS,0,14.38,19.52,4.91,2.07
13,Diluted EPS,0,14.33,19.45,4.90,2.03
14,Basic Average Shares,0,"266,000","268,000","262,000","260,808"
15,Diluted Average Shares,0,"266,992","268,946","262,449","265,000"
16,Total Operating Income as Reported,"5,617,000","6,245,000","5,857,000","2,417,000","4,466,000"
17,Rent Expense Supplemental,"4,756,000","4,712,000","4,155,000","3,712,000","3,360,000"
18,Total Expenses,"88,233,000","86,989,000","77,986,000","66,365,000","64,907,000"
19,Interest Income,0,"53,000","52,000","55,000","59,000"
20,Interest Expense,0,"689,000","793,000","672,000","588,000"
21,Net Interest Income,"-590,000","-636,000","-741,000","-617,000","-529,000"
22,Net Income from Continuing & Discontinued Oper...,"3,333,000","3,826,000","5,231,000","1,286,000","540,000"
23,Normalized Income,"3,521,027","4,043,118","5,630,056","1,620,950","803,680"
24,EBIT,"4,920,000","5,585,000","7,467,000","2,341,000","1,243,000"
25,EBITDA,"8,994,000",0,0,0,0
26,Reconciled Cost of Revenue,"74,104,000","73,345,000","66,005,000","55,873,000","54,866,000"
27,Reconciled Depreciation,"4,074,000","3,970,000","3,793,000","3,615,000","3,353,000"
28,Net Income from Continuing Operation Net Minor...,"3,333,000","3,826,000","5,231,000","1,286,000","540,000"
29,Total Unusual Items Excluding Goodwill,"-241,000","-278,000","-509,000","-435,000","-320,000"
30,Total Unusual Items,"-241,000","-278,000","-509,000","-435,000","-320,000"
31,Normalized EBITDA,"9,235,000","9,833,000","11,769,000","6,391,000","4,916,000"
32,Tax Rate for Calcs,0,0,0,0,0
33,Tax Effect of Unusual Items,"-52,973","-60,882","-109,944","-100,050","-56,320"
34,\n Advertisement\n,\n Advertisement\n,\n Advertisement\n,\n Advertisement\n,\n Advertisement\n,© 2023 Yahoo. All rights reserved.Data Disclai...

In [7]:
fila = 34 #numero de la fila que hay que eliminar
Income_st = Income_st.drop(fila,axis=0)
Income_st.columns = Income_st.iloc[0] #Nombramos las columnas con la primera fila del dataframe
Income_st.drop(Income_st.index[0],inplace=True) #eliminamos la primera fila
Income_st = Income_st.set_index('Breakdown') #nombramos los indices del Dataframe con los valores de la columna breakdown
Income_st

,ttm,5/31/2022,5/31/2021,5/31/2020,5/31/2019
Breakdown,,,,,
Total Revenue,"94,091,000","93,512,000","83,959,000","69,217,000","69,693,000"
Cost of Revenue,"74,104,000","73,345,000","66,005,000","55,873,000","54,866,000"
Gross Profit,"19,987,000","20,167,000","17,954,000","13,344,000","14,827,000"
Operating Expense,"14,129,000","13,644,000","11,981,000","10,492,000","10,041,000"
Operating Income,"5,858,000","6,523,000","5,973,000","2,852,000","4,786,000"
Net Non Operating Interest Income Expense,"-590,000","-636,000","-741,000","-617,000","-529,000"
Other Income Expense,"-996,000","-991,000","1,442,000","-566,000","-3,602,000"
Pretax Income,"4,272,000","4,896,000","6,674,000","1,669,000","655,000"
Tax Provision,"939,000","1,070,000","1,443,000","383,000","115,000"
Net Income Common Stockholders,"3,326,000","3,819,000","5,220,000","1,284,000","539,000"
Diluted NI Available to Com Stockholders,"3,326,000","3,819,000","5,220,000","1,284,000","539,000"
Basic EPS,0,14.38,19.52,4.91,2.07
Diluted EPS,0,14.33,19.45,4.90,2.03
Basic Average Shares,0,"266,000","268,000","262,000","260,808"
Diluted Average Shares,0,"266,992","268,946","262,449","265,000"
Total Operating Income as Reported,"5,617,000","6,245,000","5,857,000","2,417,000","4,466,000"
Rent Expense Supplemental,"4,756,000","4,712,000","4,155,000","3,712,000","3,360,000"
Total Expenses,"88,233,000","86,989,000","77,986,000","66,365,000","64,907,000"
Interest Income,0,"53,000","52,000","55,000","59,000"
Interest Expense,0,"689,000","793,000","672,000","588,000"
Net Interest Income,"-590,000","-636,000","-741,000","-617,000","-529,000"
Net Income from Continuing & Discontinued Operation,"3,333,000","3,826,000","5,231,000","1,286,000","540,000"
Normalized Income,"3,521,027","4,043,118","5,630,056","1,620,950","803,680"
EBIT,"4,920,000","5,585,000","7,467,000","2,341,000","1,243,000"
EBITDA,"8,994,000",0,0,0,0
Reconciled Cost of Revenue,"74,104,000","73,345,000","66,005,000","55,873,000","54,866,000"
Reconciled Depreciation,"4,074,000","3,970,000","3,793,000","3,615,000","3,353,000"
Net Income from Continuing Operation Net Minority Interest,"3,333,000","3,826,000","5,231,000","1,286,000","540,000"
Total Unusual Items Excluding Goodwill,"-241,000","-278,000","-509,000","-435,000","-320,000"
Total Unusual Items,"-241,000","-278,000","-509,000","-435,000","-320,000"
Normalized EBITDA,"9,235,000","9,833,000","11,769,000","6,391,000","4,916,000"
Tax Rate for Calcs,0,0,0,0,0
Tax Effect of Unusual Items,"-52,973","-60,882","-109,944","-100,050","-56,320"

#### Balance Sheet

In [8]:
import requests
read_data = requests.get(url_bs,headers={'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'})

In [9]:
soup_is= BeautifulSoup(read_data.content,"lxml")

divTag = soup_is.find_all("div", {"class": {"D(tbc)", "Ta(c)"}})

ls= []
ls.append("Breakdown")

for tag in divTag:
  tag_value =  tag.get('value')
  ls.append(tag.text)

for i in ls:
  if i == '-': findAndReplace(ls, '-', '0')

contador = 0
for i in ls:
  if i=='5/31/2022':
    del ls[1:contador]
  else: contador += 1

new_ls = list(filter(None,ls))
is_data = list(zip(*[iter(new_ls)]*5))

In [10]:
Balance_sheet = pd.DataFrame(is_data[0:])
Balance_sheet

,0,1,2,3,4
0,Breakdown,5/31/2022,5/31/2021,5/31/2020,5/31/2019
1,Total Assets,"85,994,000","82,777,000","73,537,000","54,403,000"
2,Total Liabilities Net Minority Interest,"61,055,000","58,609,000","55,242,000","36,646,000"
3,Total Equity Gross Minority Interest,"24,939,000","24,168,000","18,295,000","17,757,000"
4,Total Capitalization,"44,685,000","44,472,000","39,813,000","34,374,000"
5,Common Stock Equity,"24,939,000","24,168,000","18,295,000","17,757,000"
6,Capital Lease Obligations,"17,398,000","16,108,000","14,603,000",0
7,Net Tangible Assets,"18,094,000","16,824,000","11,601,000","10,457,000"
8,Working Capital,"6,091,000","6,920,000","6,039,000","4,073,000"
9,Invested Capital,"44,735,000","44,522,000","39,813,000","35,338,000"
10,Tangible Book Value,"18,094,000","16,824,000","11,601,000","10,457,000"
11,Total Debt,"37,194,000","36,462,000","36,121,000","17,581,000"
12,Net Debt,"12,899,000","13,267,000","16,637,000","15,262,000"
13,Share Issued,"318,000","318,000","318,000","318,000"
14,Ordinary Shares Number,"259,846","267,348","261,954","260,808"
15,Treasury Shares Number,"58,154","50,652","56,046","57,192"
16,\n Advertisement\n,\n Advertisement\n,\n Advertisement\n,\n Advertisement\n,\n Advertisement\n

In [11]:
fila = 16 #numero de la fila que hay que eliminar
Balance_sheet = Balance_sheet.drop(fila,axis=0)
Balance_sheet.columns = Balance_sheet.iloc[0] #Nombramos las columnas con la primera fila del dataframe
Balance_sheet.drop(Balance_sheet.index[0],inplace=True) #eliminamos la primera fila
Balance_sheet = Balance_sheet.set_index('Breakdown')#nombramos los indices del Dataframe con los valores de la columna breakdown
Balance_sheet

,5/31/2022,5/31/2021,5/31/2020,5/31/2019
Breakdown,,,,
Total Assets,"85,994,000","82,777,000","73,537,000","54,403,000"
Total Liabilities Net Minority Interest,"61,055,000","58,609,000","55,242,000","36,646,000"
Total Equity Gross Minority Interest,"24,939,000","24,168,000","18,295,000","17,757,000"
Total Capitalization,"44,685,000","44,472,000","39,813,000","34,374,000"
Common Stock Equity,"24,939,000","24,168,000","18,295,000","17,757,000"
Capital Lease Obligations,"17,398,000","16,108,000","14,603,000",0
Net Tangible Assets,"18,094,000","16,824,000","11,601,000","10,457,000"
Working Capital,"6,091,000","6,920,000","6,039,000","4,073,000"
Invested Capital,"44,735,000","44,522,000","39,813,000","35,338,000"
Tangible Book Value,"18,094,000","16,824,000","11,601,000","10,457,000"
Total Debt,"37,194,000","36,462,000","36,121,000","17,581,000"
Net Debt,"12,899,000","13,267,000","16,637,000","15,262,000"
Share Issued,"318,000","318,000","318,000","318,000"
Ordinary Shares Number,"259,846","267,348","261,954","260,808"
Treasury Shares Number,"58,154","50,652","56,046","57,192"

#### Datos a trabajar

Sacamos la información que nos interesa y complemtamos los valores en el DataFrame creado para resumir los valores

In [27]:
#creamos un dataframe con los datos e informacion financiera
info_financiera = pd.DataFrame()
opciones = ['Precio Acción', 'Utilidades Netas', 'Acciones en Circulación', 'Patrimonio', 'Activos', 'Dividendo Anual', 'Utilidad operativa']
info_financiera['Datos'] = opciones
info_financiera = info_financiera.set_index('Datos')
info_financiera['Valores'] = None
info_financiera

                        Valores
Datos
Precio Acción              None
Utilidades Netas           None
Acciones en Circulación    None
Patrimonio                 None
Activos                    None
Dividendo Anual            None
Utilidad operativa         None

In [12]:
utilidades_netas = Income_st['5/31/2022']['Net Income Common Stockholders']
upa = Income_st['5/31/2022']['Basic EPS']
utilidad_operativa = Income_st['5/31/2022']['Operating Income']
acciones_circulacion = Balance_sheet['5/31/2022']['Share Issued']
patrimonio = Balance_sheet['5/31/2022']['Total Equity Gross Minority Interest']
acivos = Balance_sheet['5/31/2022']['Total Assets']

In [27]:
read_data = requests.get(url_summary,headers={'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'})

In [42]:
soup_is= BeautifulSoup(read_data.content,"lxml")

divTag = soup_is.find_all("td", {"class": {"C($primaryColor)","W(51%)","Ta(end)","Fw(600)","Lh(14px)"}})

ls= []
ls.append("Name")
ls.append("Value")

for tag in divTag:
  tag_value =  tag.get('value')
  ls.append(tag.text)

new_ls = list(filter(None,ls))
is_data = list(zip(*[iter(new_ls)]*2))

summary = pd.DataFrame(is_data[0:])
summary.columns = summary.iloc[0] #Nombramos las columnas con la primera fila del dataframe
summary.drop(summary.index[0],inplace=True) #eliminamos la primera fila
summary = summary.set_index('Name')#nombramos los indices del Dataframe con los valores de la columna breakdown
summary

0                                   Value
Name
Previous Close                     209.54
Open                               205.90
Bid                          208.79 x 800
Ask                          211.00 x 900
Day's Range               211.05 - 212.54
52 Week Range             141.92 - 248.76
Volume                            115,978
Avg. Volume                     2,051,140
Market Cap                        53.427B
Beta (5Y Monthly)                    1.32
PE Ratio (TTM)                      16.56
EPS (TTM)                           12.78
Earnings Date                Mar 16, 2023
Forward Dividend & Yield     4.60 (2.19%)
Ex-Dividend Date             Mar 10, 2023
1y Target Est                      202.69

In [43]:
precio_accion = summary['Value']['Previous Close']
capitalizacion_bursatil_tablas = summary['Value']['Market Cap']
per_tablas = summary['Value']['PE Ratio (TTM)'] #tener en cuenta que este es trimestral, no anual

In [44]:
index = yf.Ticker(index)
index.dividends

Date
2002-06-13 00:00:00-04:00    0.05
2002-09-05 00:00:00-04:00    0.05
2002-12-10 00:00:00-05:00    0.05
2003-03-06 00:00:00-05:00    0.05
2003-06-10 00:00:00-04:00    0.05
                             ...
2021-12-10 00:00:00-05:00    0.75
2022-03-04 00:00:00-05:00    0.75
2022-06-24 00:00:00-04:00    1.15
2022-09-01 00:00:00-04:00    1.15
2022-12-09 00:00:00-05:00    1.15
Name: Dividends, Length: 83, dtype: float64

In [26]:
#creamos un dataframe con la informacion que vamos a utilizar y al final comparar
indicadores = pd.DataFrame()
opciones = ['UPA', 'PER', 'Capitalización Bursátil', 'Q de Tobin', 'Valor Intrínseco', 'Yield Anual', 'ROA', 'ROE']
indicadores["Indicador"] = opciones
indicadores = indicadores.set_index('Indicador')
indicadores["Valor Tablas"] = None
indicadores["Valor Calculado"] = None
indicadores

                        Valor Tablas Valor Calculado
Indicador
UPA                             None            None
PER                             None            None
Capitalización Bursátil         None            None
Q de Tobin                      None            None
Valor Intrínseco                None            None
Yield Anual                     None            None
ROA                             None            None
ROE                             None            None

#### *UPA*

Tablas = ?

Calculado = utilidades netas / acciones en circulación

Interpretación = número de veces que la utilidad está comprendido en el precio de la acción. Lo que le toca a cada acción de la utilidad de la compañía

#### *Método PER*

Tablas = PER

Calculado = precio accion / UPA

Interpretación = cuantas veces la utilidad por acción cabe en el precio, cuanto tiempo necesito para pagar la acción

#### *Capitalización Bursátil*

Tablas = market cap

Calculado = precio accion * # de acciones en circulación

Interpretación = muestra el valor a precios de mercados de todas las acciones de circulacion. Muestra cuánto vale la empresa en el mercado

#### *Q de Tobin*

Tablas = ?

Calculado = precio de mercado / valor intrínseco = capitalización busrátil / valor patrimonio en libros

Interpretación = 
* Si Q > 1, la acción esta sobrevalorada (el mercado ve más de lo que realmente es o presenta una accion en sus cifras financieras, se espera que a mediano o corto plazo baje)
* Si Q < 1, la acción esta subvalorada (la acción no está generando confianza en el mercado, vale menos de lo que vale nominalmente)

#### *Valor intrínseco*

Tablas = ?

Calculado = patrimonio en libros / # de acciones en circulación

Interpretación = trata de reflejar la realidad económica de la acción, describe el valor percibido o real de un activo

#### *Yield*

Tablas = ?

Calculado = dividendos del último año (anual) / precio acción

Interpretación = rendimiento generado por la empresa a los accionistas

#### *ROA*

Tablas = ?

Calculado = utilidad operativa / activos

Interpretación = medida financiera que se utiliza para evaluar la eficiencia de una empresa para generar ganancias a partir de sus activos. Esto indica cuánto beneficio se está generando por cada unidad de activos que posee la empresa

#### *ROE*

Tablas = ?

Calculado = utilidad neta / patrimonio

Interpretación = medida financiera que se utiliza para evaluar la rentabilidad de una empresa en relación con la inversión de sus accionistas. Esto indica cuánto beneficio se está generando por cada unidad de inversión de los accionistas